*{
	margin:0px;
	padding:0px;
}

.Test {
	background-color:#eee;
	margin:20px;
	padding:20px;
	border:1px solid #999;
}

.Test:after{
	content:"";
	display:block;/*让原先的行内元素填满其父元素*/
	clear:both;
	height:0px;
}
.teamName {
	width:200px;
	height:80px;
	padding:20px;
	border:1px solid #999;
	background-color:#ffffff;
	float:left;
}

.logo {
	width:80px;
	height:80px;
	border:1px solid #999;
	float:left;
	margin-right:20px;
}

.logo img {
	width:80px;
	height:80px;
}

.teamBrief {
	border:1px solid #999;
	padding:20px;
	margin:0px 140px 0px 260px;
}

.teamMembers {
	width:80px;
	height:380px;
	padding:20px;
	float:right;
	border:1px solid #999;
}


.teamMembers img {
	width:80px;
	height:80px;
	border:1px solid #999;
	margin-top:20px;
}

.teamMembers div:first-child img {
    margin-top:0px;
}